{% extends 'base.html' %}

{% block content %}
{% load static %}







<main>
  <div class="album py-5 bg-light">
    {% include 'components/search.html' %}
    <div class='row text-center'>
      <div class='col'>
          <!-- <h1>Welcome to Fithub</h1> -->
      </div>
    </div>
    <div class="container">      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id='exercises'>        

            Loading...
    </div>
  </div> 
</main>


<script>


function formatExElement(ex){
  var ExElement = 
    `<div class="col">
      <div class="card shadow-sm">
        <a href="../exercises/detail/`+ ex.id+`" style="text-decoration: none;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <image href="{% static 'images/` + ex.name + `.jpg' %}" width="100%" height="100%"/>
        </svg>
        </a>
        <div class="card-body">
          <p>description</p>
          <p class="card-text"><h1>`+ ex.name + `</h1></p>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>`
    return ExElement
}


const exElement = document.getElementById('exercises')
  exElement.innerHTML = ''
  
function loadExercises(exElement){
  const xhr = new XMLHttpRequest()
  const method = 'GET'
  const url = '/exercises'
  const responseType = 'json'
  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function() {
    const serverResponse = xhr.response
    const listedItems = serverResponse.response
    var finalExStr = ''
    var i;
    for (i=0;i<listedItems.length; i++) {
      var exObj = listedItems[i]
      var currentItem = formatExElement(exObj)
      console.log(currentItem)
      finalExStr += currentItem
    exElement.innerHTML = finalExStr
    }
  }

  xhr.send()
}

loadExercises(exElement)


</script>
{% endblock content %}

